doctype html
html
  head
    title= title

    - for (var i in css)
        link(rel='stylesheet', href=css[i])

    - for (var j in js)
        script(type='text/javascript' src=js[j])   

    link(rel='stylesheet', href='/css/mycss.css')   
    script(type='text/javascript' src='/js/mylogic.js')
  body
    nav.navba.navbar-inverse.navbar-fixed-top
      div.container
        div.navbar-header
          a(href='/').navbar-brand Log App
        div.navbar-collapse.collapse
          block menu
            ul#menu.nav.navbar-nav
              if user 

                - var hi = 'Hi, ' + user.name + ' ' + user.surname + '!'
                li 
                  span#user= hi
                li
                  a(href='logout') Log Out
              else
                li
                  a(href='login') Sign in
                li
                  a(href='register') Register               
    
    div#content-wrapper.container

      div.page-header
        block page-header
      
      if error != ''
        p.alert.alert-danger= error

      if success != ''
        p.alert.alert-success= success        
      
      block content