extends layout

block menu
  ul#menu.nav.navbar-nav
    li
      a(href='login') Sign In
    li.active
      a(href='register') Register 

block page-header
  h2= title

block content
  form(href='/register', method='post')#register-form.form-horizontal

    div.form-group
      label(for='name').col-sm-2.control-label Name
      div.col-sm-3
        input(type='text', name='name', placeholder='Enter the your name')#name.form-control 

    div.form-group
      label(for='surname').col-sm-2.control-label Surname
      div.col-sm-3
        input(type='text', name='surname', placeholder='Enter the your surname')#surname.form-control

    div.form-group
      label(for='email').col-sm-2.control-label Email
      div.col-sm-3
        input(type='text', name='email', placeholder='Enter the your email')#email.form-control

    div.form-group
      label(for='passwd').col-sm-2.control-label Password
      div.col-sm-3
        input(type='password', name='passwd', placeholder='Enter the a password')#passwd.form-control      

    div.form-group
      label(for='rpasswd').col-sm-2.control-label Repeat password
      div.col-sm-3
        input(type='password', name='rpasswd', placeholder='Repeat the a password')#rpasswd.form-control    

    div.form-group
      div.col-sm-offset-2.col-sm-10
        input(type='submit' value='Send').btn.btn-default