extends layout

block menu
  ul#menu.nav.navbar-nav
    li.active
      a(href='login') Sign In
    li
      a(href='register') Register 

block page-header
  h2= title

block content

  form(href='/login', method='post')#login-form.form-horizontal

    div.form-group
      label(for='username').col-sm-2.control-label Username
      div.col-sm-3
        input(type='text', name='username', placeholder='Enter your email')#username.form-control      

    div.form-group
      label(for='passwd').col-sm-2.control-label Password
      div.col-sm-3
        input(type='password', name='passwd', placeholder='Enter the password')#passwd.form-control          

    div.form-group
      div.col-sm-offset-2.col-sm-10
        label
          a(href='register') Register    

    div.form-group
      div.col-sm-offset-2.col-sm-10
        input(type='submit' value='Send').btn.btn-default